*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/.idea/
/build/
/cvalue.iml
session_analytics_to_send/
/app/build/
/calendar/build/
/gradle.properties
/keystore.properties
/version.properties
/cvkey.jks
/projectFilesBackup/
libs/
src/main/res/drawable/
cache/
